.image_container {
    width: 48px;
    height: 48px;
    position: relative;
}

/*
    布局调试
*/
#file_upload{
    position: absolute;
    top: 96%;
}

#preview {
	position: absolute;
    top: 109%;
}
