<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>购物车</title>
<link rel="stylesheet" href="css/semantic.css" media="screen"
	title="no title">
<link rel="stylesheet" href="css/product_list.css" media="screen"
	title="no title">
<script type="text/javascript" src="js/jquery-3.1.1.js">
</script>
<script type="text/javascript" src="js/semantic.min.js"></script>
<style>
body {
	padding: 1em;
}
.ui.menu {
	margin: 3em 0em;
}
.ui.menu:last-child {
	margin-bottom: 110px;
}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$('.ui.menu .ui.dropdown').dropdown({
			on : 'hover'
		});
		$('.ui.menu a.item').on('click', function() {
			$(this).addClass('active').siblings().removeClass('active');
		});
	});
	$(document).ready(function() {
		$('.special.card .image').dimmer({
			on : 'hover'
		});
		$('.star.rating').rating();
		$('.card .dimmer').dimmer({
			on : 'hover'
		});
	});
	$(document).ready(function() {
		// fix main menu to page on passing
		$('.main.menu').visibility({
			type : 'fixed'
		});
		$('.overlay').visibility({
			type : 'fixed',
			offset : 80
		});
		// lazy load images
		$('.image').visibility({
			type : 'image',
			transition : 'vertical flip in',
			duration : 500
		});
		// show dropdown on hover
		$('.main.menu  .ui.dropdown').dropdown({
			on : 'hover'
		});
	});
	var o;
	function getProductId(value,messages){
		$('#messages').html('你确定要'+messages+"吗？");
		$('.ui.basic.modal')
		  .modal('show');
		o = value;
	};
	function chufa() {
		var messages = $('#messages').html();
		var set ;
		if (messages.indexOf("购买")>0)
			{
				set='buy';
			}
		else{
			set = 'delete';
		}

		$.ajax({
			url:'operating_'+set+'?id='+o,
			dataType:'text',
			success:function(result){
				alert("删除成功");
				window.location.assign('product_list');
			},
			error:function(message){
				alert("删除失败");
			}
		});
	};
</script>
</head>
<body class="dimmable">
	<div class="ui fixed inverted menu">
		<div class="header item">
			<a href="/web-book/"><i class="book icon"></i></a>
		</div>
		<div class="active item">Home</div>
		<div class="ui dropdown item">
			分类 <i class="dropdown icon"></i>
			<div class="menu">
				<div class="item">java</div>
				<div class="divider"></div>
				<div class="item">C</div>
				<div class="divider"></div>
				<div class="item">C++</div>
				<div class="divider"></div>
				<div class="item">C#</div>
				<div class="divider"></div>
				<div class="item">Python</div>
			</div>
		</div>
		<div class="right menu">
			<div class="item">
				<div class="ui transparent inverted icon input">
					<i class="search icon"></i> <input type="text" placeholder="Search">
				</div>
			</div>
			<a class="item">Link</a>
			<div v-if="is_login" class="item text">您好，</div>
			<div id="xx" v-if="is_login" class="ui dropdown item">
				{{user.username}}<i class="dropdown icon"></i>
				<div v-if="user.userType==1" class="menu">
					<a class="item">我的订单</a>
					<a class="item" href="product_list.html">我的购物车</a>
					<a class="item">我的收藏</a>
					<a class="item" href="logout">安全退出</a>
				</div>
				<div v-if="user.userType==0" class="menu">
					<a class="item">我的订单</a>
					<a href="addProduct.jsp" class="item">添加商品</a>
					<a class="item" href="product_list.html">我的购物车</a>
					<a class="item">我的收藏</a>
					<a class="item" href="logout">安全退出</a>
				</div>
			</div>
			<a v-show="!is_login" class="item" href="login.html">登录</a> <a v-show="!is_login" class="item">注册</a>
		</div>
	</div>
	<div class="overlay">
		<div class="ui labeled icon vertical menu">
			<a class="item"><i class="twitter icon"></i> Tweet</a> <a class="item"><i class="facebook icon"></i> Share</a> <a class="item"><i
				class="mail icon"></i> E-mail</a>
		</div>
	</div>
	<div class="ui main container">
		<h2 class="ui header">
			<i class="cart icon"></i> shopping cart
		</h2>
		<s:iterator var="product" value="#session.productList">
		<div class="ui bottom attached container">
			<div class="ui grid segment">
				<div class="three wide column">
					<div class="ui small images">
						<img src="${product.imageAdress}" alt="" />
					</div>
				</div>
				<div class="ten wide column">
					<h4>${product.title}</h4>
					<p>${product.description}</p>
					<h4>购买时间：${product.buyTimeFormat}</h4>
					<h4>购买价格：¥${product.price}</h4>
				</div>
				<s:if test="#session.productList!=null">
				<div class="three wide column">
					<div class="ui two bottom attached buttons">
						<div class="ui red button" onclick="getProductId(${product.id},'购买');">购买</div>
						<div class="ui button" onclick="getProductId(${product.id},'删除');">删除</div>
					</div>
				</div>
				</s:if>
				<s:else>
					<div class="ui segment">
						<h2>您的购物车为空</h2>
					</div>
				</s:else>
			</div>
		</div>
		</s:iterator>
	</div>
	<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    Archive Old Messages
  </div>
  <div class="image content">
    <div class="image">
      <i class="archive icon"></i>
    </div>
    <div class="description">
      <p id="messages"></p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui cancel red basic inverted button">
        <i class="remove icon"></i>
        No
      </div>
      <button class="ui ok green basic inverted button" onclick="chufa();">
        <i class="checkmark icon"></i>
        Yes
      </button>
    </div>
  </div>
</div>

</body>
<script type="text/javascript">
	$('.menu .item').tab();
	$('.ui.red.button').click(function() {
		$('.ui.modal').modal('show');
	});
</script>
</html>
